<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


</head>

<body>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-3">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="h4 pt-5">Chatbox</label>
                        <textarea class="form-control" id="chat-text" readonly rows="10"></textarea><br>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter text here" id="input" type="text"></br>
                    </div>
                    <input class="btn btn-primary btn-lg btn-block" id="submit" type="button" value="Send">
                </form>
            </div>
        </div>
    </div>
    {% comment %} Get data for username and chatbox name{% endcomment %}
    {{ request.user.username|json_script:"user_username" }}
    {{ chat_box_name|json_script:"room-name" }}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>
<script>



const socket = new WebSocket(
      'ws://' +
      window.location.host +
      '/ws/chat/' +
      'abc' +
      '/'
   );

// Event handler when WebSocket connection is established
socket.onopen = function() {
  console.log('WebSocket connection established');

  // Capture audio from the user's microphone
  navigator.mediaDevices.getUserMedia({ audio: true })
    .then(function(stream) {
      // Create AudioContext and MediaStreamAudioSourceNode
      const audioContext = new AudioContext();
      const audioSourceNode = audioContext.createMediaStreamSource(stream);

      // Create ScriptProcessorNode for audio processing
      const scriptNode = audioContext.createScriptProcessor(4096, 1, 1);
      
      // Event handler for scriptNode onaudioprocess event
      scriptNode.onaudioprocess = function(event) {
        // Get the audio data from the input buffer
        const audioData = event.inputBuffer.getChannelData(0);

        // Send the audio data to the server
        socket.send(audioData.buffer);
      };

      // Connect the audioSourceNode to the scriptNode
      audioSourceNode.connect(scriptNode);
      
      // Connect the scriptNode to the AudioContext destination
      scriptNode.connect(audioContext.destination);
    })
    .catch(function(err) {
      console.log('Error accessing media devices: ', err);
    });
};

// Event handler for WebSocket connection error
socket.onerror = function(error) {
  console.error('WebSocket error:', error);
};

// Event handler for WebSocket connection close
socket.onclose = function() {
  console.log('WebSocket connection closed');
};











</script>

</html>
